@import 'styles/base/mixin.scss';
@import 'styles/base/variables.scss';

.layoutAuth{
    @include flex(center, center);
    height: 100vh;

    .link{
        text-decoration: none;
    }
}
.mainLayout{
    width: 30%;
    .formHeader{
        text-align: center;
        margin-bottom: 10px;
    }
}
.authLink{
    display: flex;
    justify-content: space-evenly;
}
.verifyEmail{
    .body{
        @include flex(center, center);
        height: 100vh;
    }
    .cardMain{
        padding: 100px;
    }
    .content{
        display: flex;
        flex-direction: column;
        gap: 15px;
        justify-content: center;
        align-items: center;
    }
    .logo {
        width: 200px;
        margin: auto;
        pointer-events: none;
        user-select: none;
        background-color: transparent;
        backdrop-filter: blur(50px);
    }
    .link{
        text-decoration: none;
    }

}
